<form (ngSubmit)="ObtieneRespuesta($event)" >
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">CANTIDAD ASEGURADA</th>
        <th scope="col">CLASES DE SEGURO</th>
        <th scope="col">FECHA</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>300.000 pesos</th>
        <td>Incendios</td>
        <td>2 - ene - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>
      <tr>
        <th>100.000 pesos</th>
        <td>Vida</td>
        <td>22 - oct - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>
      <tr>
        <th>400.000 pesos</th>
        <td>Accidentes</td>
        <td>14 - sep - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>
      <tr>
        <th>200.000 pesos</th>
        <td>Vida</td>
        <td>13 - nov - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>
      <tr>
        <th>400.000 pesos</th>
        <td>Incendios</td>
        <td>17 - may - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>300.000 pesos</th>
        <td>Accidentes</td>
        <td>12 - oct - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>500.000 pesos</th>
        <td>Vida</td>
        <td>16 - feb - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>100.000 pesos</th>
        <td>Incendios</td>
        <td>3 - ago - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>


      <tr>
        <th>400.000 pesos</th>
        <td>Incendios</td>
        <td>11 - ago - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>200.000 pesos</th>
        <td>Accidentes</td>
        <td>21 - may - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>


      <tr>
        <th>500.000 pesos</th>
        <td>Vida</td>
        <td>9 - mar - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>300.000 pesos</th>
        <td>Incendios</td>
        <td>17 - jul - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>100.000 pesos</th>
        <td>Accidentes</td>
        <td>4 - jun - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>


      <tr>
        <th>100.000 pesos</th>
        <td>Vida</td>
        <td>23 - nov - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>500.000 pesos</th>
        <td>Vida</td>
        <td>18 - abr - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>200.000 pesos</th>
        <td>Accidentes</td>
        <td>24 - dic - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>500.000 pesos</th>
        <td>Accidentes</td>
        <td>19 - abr - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>200.000 pesos</th>
        <td>Vida</td>
        <td>7 - dic - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>400.000 pesos</th>
        <td>Incendios</td>
        <td>25 - may - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>300.000 pesos</th>
        <td>Accidentes</td>
        <td>6 - ene - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>500.000 pesos</th>
        <td>Vida</td>
        <td>29 - mar - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>
      
      <tr>
        <th>300.000 pesos</th>
        <td>Vida</td>
        <td>28 - jun - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>400.000 pesos</th>
        <td>Accidentes</td>
        <td>8 - feb - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>100.000 pesos</th>
        <td>Incendios</td>
        <td>27 - jul - 75</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

      <tr>
        <th>200.000 pesos</th>
        <td>Accidentes</td>
        <td>21 - ene - 76</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
          />
        </td>
      </tr>

    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
